<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body style="background-image: url({% static 'user_app/hero-bg.jpg' %}); background-size:100% ;background-repeat:repeat;" >
      <div class="text-center">

      <h1 class="container">WELCOME TO STUDENT PERFORMANCE ANALYSER </h1>
    </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/performance/home/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/performance/history/">about<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/performance/help/">Help<span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>


  </div>
  <br><br>
  <center>
<div class="container d-flex h-100 ">
    <div class="row justify-content-center align-self-center" style="margin:auto auto auto auto;">


<div class="card" >
  <div class="card-body">
  <img class="card-img-top" style="width:200px;" src="https://image.flaticon.com/icons/svg/2784/2784461.svg" alt="Card image cap">
<br>
    <a href="/performance/myform/" class="btn btn-primary">start predicting</a>
  </div>
</div>
&#160; &#160;&#160; &#160;&#160; &#160;&#160; &#160;
<div class="card" >
  <div class="card-body">
  <img class="card-img-top" style="width:200px;" src="https://www.flaticon.com/premium-icon/icons/svg/1048/1048950.svg" alt="Card image cap">
<br>
    <a href="/performance/taketest/" class="btn btn-primary">take test</a>
  </div>
</div>
</div>
</div>
</center>
  <!-- <div class="">
    <button type="button" class="btn btn-primary">start predicting</button>
    <button type="button" class="btn btn-primary">take test</button>
  </div> -->

  </body>
</html>
