<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'user_app/javascript/hidden.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body style="background-image: url({% static 'user_app/hero-bg.jpg' %}); background-size:100% ;background-repeat:repeat;" >
      <h1 id="info"  signl={{signal}} apti={{apti}}  prog={{prog}} comm={{comm}} puzz={{puzz}} manage={{manage}}      >1{{signal}}</h1>
      <div class="text-center">

      <h1 class="container">WELCOME TO STUDENT PERFORMANCE ANALYSER </h1>
    </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

          <a class="nav-link" href="/performance/home/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/performance/history/">about<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/performance/help/">Help<span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>


</div><br>
  <div class="container" style="background-color: white;">
    <br>
    <div class="text-center">

    <h3 class="container">ENTER YOUR DETAILS..... </h3>
  </div>
    {% if signal %}
    <form  method="post" action="/performance/predict/" >
       {% csrf_token %}
      <br>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="1a" class="col-sm-6 col-form-label">Coding Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab" id="1a" placeholder="In percentage" name="coding" required>


    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="col-sm-12">


      <input type="hidden" name="aptitude" value={{apti}}>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="3a" class="col-sm-6 col-form-label">Technical Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab2" id="3a" placeholder="In percentage" name="technical" required>
    </div>
  </div>
  <div class="form-group col-md-6">

    <div class="col-sm-12">
      <input type="hidden"  name="communication" value={{comm}}>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="5a" class="col-sm-6 col-form-label">Presentation Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab4" id="5a" placeholder="In percentage" name="presentation" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="6a" class="col-sm-6 col-form-label">Academic Performance</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab5" id="6a" placeholder="In percentage" name="academics" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">

    <div class="col-sm-12">
      <input type="hidden" name="puzzel" value={{puzz}} >
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="8a" class="col-sm-6 col-form-label">English Proficiency</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab7" id="8a" placeholder="In percentage" name="english" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">

    <div class="col-sm-12">
      <input type="hidden"  name="programming" value={{prog}}>
    </div>
  </div>
  <div class="form-group col-md-6">

    <div class="col-sm-12">
      <input type="hidden" name="management"  value={{manage}}>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="11a" class="col-sm-6 col-form-label">Projects</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab10" id="11a" placeholder="In percentage" name="projects" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="12a" class="col-sm-6 col-form-label">Internships</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab11" id="12a" placeholder="In percentage" name="internship" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="13a" class="col-sm-6 col-form-label">Training</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab12" id="13a" placeholder="In percentage" name="training" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="14a" class="col-sm-6 col-form-label">Backlogs</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab13" id="14a" placeholder="In percentage" name="backlog" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="15a" class="col-sm-6 col-form-label">Core Knowledge</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab14" id="15a" placeholder="In percentage" name="core" required>
    </div>
  </div>

</div>
<center>
<div class="container d-flex h-100 ">
  <div class="row justify-content-center align-self-center" style="margin:auto auto auto auto;">

    <button type="button" onclick="location.href = '/performance/home/';" class="btn btn-info ">Back</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-info ">Predict</button>

<!--</div>-->
</div>
</center>
</form>
    {% else %}
    <form  method="post" action="/performance/predict/" >
       {% csrf_token %}
      <br>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="1a" class="col-sm-6 col-form-label">Coding Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab" id="1a" placeholder="In percentage" name="coding" required>


    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="2a" class="col-sm-6 col-form-label">Aptitude Skills</label>
    <div class="col-sm-12">


      <input type="number" class="form-control ab1" id="2a" placeholder="In percentage" name="aptitude" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="3a" class="col-sm-6 col-form-label">Technical Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab2" id="3a" placeholder="In percentage" name="technical" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="4a" class="col-sm-6 col-form-label">Communication Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab3" id="4a" placeholder="In percentage" name="communication" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="5a" class="col-sm-6 col-form-label">Presentation Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab4" id="5a" placeholder="In percentage" name="presentation" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="6a" class="col-sm-6 col-form-label">Academic Performance</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab5" id="6a" placeholder="In percentage" name="academics" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="7a" class="col-sm-6 col-form-label">Puzzle Solving Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab6" id="7a" placeholder="In percentage" name="puzzel" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="8a" class="col-sm-6 col-form-label">English Proficiency</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab7" id="8a" placeholder="In percentage" name="english" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="9a" class="col-sm-6 col-form-label">Programming Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab8" id="9a" placeholder="In percentage" name="programming" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="10a" class="col-sm-6 col-form-label">Management Skills</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab9" id="10a" placeholder="In percentage" name="management" required>
    </div>

  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="11a" class="col-sm-6 col-form-label">Projects</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab10" id="11a" placeholder="In percentage" name="projects" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="12a" class="col-sm-6 col-form-label">Internships</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab11" id="12a" placeholder="In percentage" name="internship" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="13a" class="col-sm-6 col-form-label">Training</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab12" id="13a" placeholder="In percentage" name="training" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="14a" class="col-sm-6 col-form-label">Backlogs</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab13" id="14a" placeholder="In percentage" name="backlog" required>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="15a" class="col-sm-6 col-form-label">Core Knowledge</label>
    <div class="col-sm-12">
      <input type="number" class="form-control ab14" id="15a" placeholder="In percentage" name="core" required>
    </div>
  </div>

</div>
<center>
<div class="container d-flex h-100 ">
  <div class="row justify-content-center align-self-center" style="margin:auto auto auto auto;">

    <button type="button" onclick="location.href = '/performance/home/';" class="btn btn-info ">Back</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-info ">Predict</button>

<!--</div>-->
</div>
</center>
</form>
    {% endif %}

  <br>
  </div>
  <br><br><br>


  </body>

</html>
