<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>email:{{email}}</h1>
    <h1>name:{{name}}</h1>
    <h1>gender:{{gender}}</h1>
    <h1>cpi:{{cpi}}</h1>
    <h1>branch:{{branch}}</h1>
    <h1>intermediate:{{inter}}</h1>
    <h1>highschool:{{highschool}}</h1>
    <h1>current back :{{currentback}}</h1>
    <h1>ever back :{{everback}}</h1>
    <h1>projects:{{projecr}}</h1>
    <h1>technical event :{{techevent}}</h1>
    <h1>tech quiz:{{techquiz}}</h1>
  </body>
</html>
