<!DOCTYPE html>
<html lang="en">
<head>
  <title>Take Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div class="container" style="background-color:#dfe6e9; padding-bottom: 400px;  padding-top: 10px;" >

  <div class="row">
    <div class="col-lg-9">
      <h4>Attempt all questions</h4>
    </div>
    <div class="col-lg-3">
      <h2>Timer : </h2>
    </div>


  </div>
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Quantitative Aptitude</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">Verbal Ability</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">Logical Reasoning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu3">Programming</a>
    </li>
  </ul>
  <br>


  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active " style="background-color:#d5b8ff; padding-bottom: 100px;"><br>
      <div class="container">

        <form class="form-inline my-2 my-lg-0" action="/performance/showquestion/" method="post">
    			{% csrf_token %}

    			<!-- <h3>question : {{q.question}} </h3> -->
          <input type="hidden" name="type" value={{type}}>
          <input type="hidden" name="qn" value={{qn}}>
          <input type="hidden" name="qnn" value={{qnn}}>

          <table style="font-size: 25px; padding:10px; margin-top: 20px;">

              <tr><h1>{{qn}}{{qnn}} &#160;{{q.question}}</h1>

              </tr>
                {{qqn}} &#160;
                {%for x in question %}
                  <tr><h1>{{x}}</h1><br/></tr>
                {% endfor %}<hr width="0px">
              <br/>
              <tr>
                <h1>(a)<input type="radio" id="arch13" name="a101" value="{{q.opB}}">{{q.opA}}{{qq.opA}}</h1>

              </tr>
              <br/>
              <tr>
                <h1>(b)<input type="radio" id="arch23" name="a102" value="{{q.opB}}">{{q.opA}}{{qq.opB}}</h1>



              <tr>
                <h1>(c)  <input type="radio" id="arch33" name="a103" value="{{q.opB}}">{{q.opC}}{{qq.opA}}</h1>


              </tr>
              <tr>
                <h1>  (d)<input type="radio" id="arch43" name="a104" value="{{q.opB}}">{{q.opD}}{{qq.opD}}</h1>


              </tr>

          </table>
      <center>
          <div class="container d-flex h-100 ">
            <div class="row justify-content-center align-self-center" style="margin:auto auto auto auto;">


              <button type="submit" class="btn btn-info ">Submit</button>
          </div>
          </center>
    		</form>


    </div>
    <div id="menu1" class="container tab-pane fade" style="background-color:#d5b8ff; padding-bottom: 100px;"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade" style="background-color:#d5b8ff; padding-bottom: 100px;"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="container tab-pane fade" style="background-color:#d5b8ff; padding-bottom: 100px;"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>

</body>
</html>
