<!DOCTYPE html>
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<style>
	.button11a {
		padding: 8px 22px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s;
		/* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.button11a {
		background-color: #4CAF50;
		color: white;
		border: 1px solid #101010;
		border-radius: 5px;
		box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
	}

	.button12a {
		background-color: #fc9649;
	}

	.button11a:hover {
		background-color: white;
		border: 2px solid #4CAF50;
		color: black;
	}

	.rbutton {
		width: 40px;
		height: 40px;
		margin-left: 15px;
		margin-top: 15px;
	}

	#a10 {
		cursor: not-allowed;
		opacity: 0.5;
	}

	/* img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
		display: none;
	} */
	</style>
	<style>
	/* Extra styles for the cancel button */

	.cancelbtn {
		width: auto;
		padding: 10px 18px;
		background-color: #f44336;
	}
	/* Center the image and position the close button */

	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
		position: relative;
	}

	.container12 {
		padding: 16px;
	}
	/* The Modal (background) */

	.modal {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Stay in place */
		z-index: 2;
		/* Sit on top */
		left: 0;
		top: 0;
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		overflow: auto;
		/* Enable scroll if needed */
		background-color: rgb(0, 0, 0);
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.4);
		/* Black w/ opacity */
		padding-top: 60px;
	}
	/* Modal Content/Box */

	.modal-content {
		background-color: #fefefe;
		margin: auto auto auto auto;
		/* 5% from the top, 15% from the bottom and centered */
		border: 1px solid #888;
		width: 70%;
		/* Could be more or less, depending on screen size */
		max-height: 90%;
		overflow-y: scroll;
	}
	/* The Close Button (x) */

	.close {
		position: absolute;
		right: 25px;
		top: 0;
		color: #000;
		font-size: 35px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: red;
		cursor: pointer;
	}
	/* Add Zoom Animation */

	.animate {
		-webkit-animation: animatezoom 0.4s;
		animation: animatezoom 0.4s
	}

	@-webkit-keyframes animatezoom {
		from {
			-webkit-transform: scale(0)
		}
		to {
			-webkit-transform: scale(1)
		}
	}

	@keyframes animatezoom {
		from {
			transform: scale(0)
		}
		to {
			transform: scale(1)
		}
	}
	/* Change styles for span and cancel button on extra small screens */

	@media screen and (max-width: 300px) {
		.cancelbtn {
			width: 100%;
		}
	}
	</style>
	<script type="text/javascript">
	function confirmalert() {
		var userselection = confirm("Are you sure you want to submit?");
		if(userselection == true) {
			alert('Click ok to finish exam... ');
			document.getElementById("form").submit();
		} else {
			return false;
		}
	}
	window.onload = function() { //Onload event of Javascript
		//Initializing timer variable
		var aa = 10 - 1;
		var t = 00;
		var t1, a1, x1;
		if(aa > 59) {
			t = aa / 60;
			aa = aa % 60;
		}
		var a = aa;
		var x = 60;
		var y = document.getElementById("timer");
		t = Math.floor(t);
		//Display count down for 20s
		setInterval(function() {
			if(x <= 61 && x >= 1) {
				x--;
				if(t < 10) t1 = "0" + t;
				else t1 = t;
				if(a < 10) a1 = "0" + a;
				else a1 = a;
				if(x < 10) x1 = "0" + x;
				else x1 = x;
				y.innerHTML = '' + t1 + ":" + a1 + ":" + x1 + '';
				if(x == 1) {
					x = 61;
					a--; {
						if(a < 0) {
							x = 61;
							t--;
							a = 60;
							// a=aa;
						}
					}
				}
			}
		}, 1000);
		//Form Submitting after 20s
		var auto_refresh = setInterval(function() {
			submitform();
		}, 10 * 60000);
		//Form submit function
		function submitform() {
			alert('Given time exceded Click ok to finish exam... ');
			document.getElementById("form").submit();
		}
	};
	</script>
	<script>
	var chang = [10];
	for(var m = 0; m < 10; m++) {
		chang[m] = 0;
	}
	var changans = [10];
	for(var m = 0; m < 10; m++) {
		changans[m] = 2;
	}
	var changrev = [10];
	for(var m = 0; m < 10; m++) {
		changrev[m] = 2;
	}

	function colorchange() {
		var nv = 0;
		var ans = 0;
		var nans = 0;
		var rev = 0;
		var arev = 0;
		//check correct
		for(var m = 0; m < 10; m++) {
			var x3 = 0;
			if(document.getElementById("arch1" + m + "").checked) x3 = 1;
			else if(document.getElementById("arch2" + m + "").checked) x3 = 1;
			else if(document.getElementById("arch3" + m + "").checked) x3 = 1;
			else if(document.getElementById("arch4" + m + "").checked) x3 = 1;
			else x3 = 0;
			////////////////
			var pi = 0;
			if((changrev[m] == 1) && (changans[m] == 0)) {
				pi = 1;
			}
			if((changrev[m] == 1) && (changans[m] == 1)) {
				pi = 2;
			}
			////////////////
			if(x3 == 1) {
				if((changrev[m] == 1)) {
					changans[m] = 1;
					changrev[m] = 1;
				}
				if((changrev[m] == 0)) {
					changans[m] = 1;
					changrev[m] = 0;
				}
			} else {}
			if(x3 == 0) {
				if((changrev[m] == 1)) {
					changans[m] = 0;
					changrev[m] = 1;
				}
				if((changrev[m] == 0)) {
					changans[m] = 0;
					changrev[m] = 0;
				}
			}
			////////////////
			if(pi == 1) {
				if((changrev[m] == 1) && (changans[m] == 1)) {
					changrev[m] = 0;
					changans[m] = 1;
				}
			}
			/////('_')\\\\
			if(pi == 2) {
				if((changrev[m] == 1) && (changans[m] == 0)) {
					changrev[m] = 0;
					changans[m] = 0;
				}
			}
			////////////////
		}
		//end correct
		for(var m = 0; m < 10; m++) {
			if((changans[m] == 0) && (changrev[m] == 0)) {
				chang[m] = 1;
			}
			if((changans[m] == 1) && (changrev[m] == 1)) {
				chang[m] = 3;
			}
			if((changans[m] == 0) && (changrev[m] == 1)) {
				chang[m] = 2;
			}
			if((changans[m] == 1) && (changrev[m] == 0)) {
				chang[m] = 4;
			}
		}
		for(var m = 0; m < 10; m++) {
			var mm = m + 1;
			var abc = document.getElementById("z" + mm + "");
			if(chang[m] == 1) abc.style.backgroundColor = "#ff0000";
			else if(chang[m] == 0) abc.style.backgroundColor = "#9c9c9c";
			else if(chang[m] == 2) abc.style.backgroundColor = "#fc9649";
			else if(chang[m] == 3) abc.style.backgroundColor = "#0099cc";
			else abc.style.backgroundColor = "#339933";
		}
		for(var m = 0; m < 10; m++) {
			if(chang[m] == 1) nans++;
			else if(chang[m] == 0) nv++;
			else if(chang[m] == 2) rev++;
			else if(chang[m] == 3) arev++;
			else ans++;
		}
		document.getElementById("aks1").innerHTML = nv;
		document.getElementById("aks2").innerHTML = nans + rev;
		document.getElementById("aks3").innerHTML = rev;
		document.getElementById("aks4").innerHTML = ans + arev;
		document.getElementById("aks5").innerHTML = arev;
		//document.write("asdfghj"+nv);
		// countans();
	}
	//////////F12 disable code////////////////////////
	document.onkeypress = function(event) {
		event = (event || window.event);
		if(event.keyCode == 123) {
			//alert('No F-12');
			return false;
		}
	}
	document.onmousedown = function(event) {
		event = (event || window.event);
		if(event.keyCode == 123) {
			//alert('No F-keys');
			return false;
		}
	}
	document.onkeydown = function(event) {
			event = (event || window.event);
			if(event.keyCode == 123) {
				//alert('No F-keys');
				return false;
			}
		}
		/////////////////////end///////////////////////
		//Disable right click script
		//visit http://www.rainbow.arch.scriptmania.com/scripts/
	var message = "Sorry, right-click has been disabled";
	///////////////////////////////////
	function clickIE() {
		if(document.all) {
			(message);
			return false;
		}
	}

	function clickNS(e) {
		if(document.layers || (document.getElementById && !document.all)) {
			if(e.which == 2 || e.which == 3) {
				(message);
				return false;
			}
		}
	}
	if(document.layers) {
		document.captureEvents(Event.MOUSEDOWN);
		document.onmousedown = clickNS;
	} else {
		document.onmouseup = clickNS;
		document.oncontextmenu = clickIE;
	}
	document.oncontextmenu = new Function("return false")
		//
	function disableCtrlKeyCombination(e) {
		//list all CTRL + key combinations you want to disable
		var forbiddenKeys = new Array('a', 's', 'n', 'c', 'x', 'v', 'j', 'r', 'w', 'z', 'p', 'u', 'y');
		var key;
		var isCtrl;
		if(window.event) {
			key = window.event.keyCode; //IE
			if(window.event.ctrlKey) isCtrl = true;
			else isCtrl = false;
		} else {
			key = e.which; //firefox
			if(e.ctrlKey) isCtrl = true;
			else isCtrl = false;
		}
		//if ctrl is pressed check if other key is in forbidenKeys array
		if(isCtrl) {
			for(i = 0; i < forbiddenKeys.length; i++) {
				//case-insensitive comparation
				if(forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase()) {
					alert('Key combination CTRL + ' + String.fromCharCode(key) + ' has been disabled.');
					return false;
				}
			}
		}
		return true;
	}
	///combination end
	</script>
	<script>
	function myFunction1() {
		var w = document.getElementById("1");
		var x = document.getElementById("y1");
		var y = document.getElementById("x1");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[0] == 2) && (changrev[0] == 2)) {
			changans[0] = 0;
			changrev[0] = 0;
		}
		colorchange();
	}

	function rev1() {
		changrev[0] = 1;
		colorchange();
		changrev[0] = 1;
		colorchange();
	}

	function crev1() {
		changrev[0] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction2() {
		var w = document.getElementById("2");
		var x = document.getElementById("y2");
		var y = document.getElementById("x2");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[1] == 2) && (changrev[1] == 2)) {
			changans[1] = 0;
			changrev[1] = 0;
		}
		colorchange();
	}

	function rev2() {
		changrev[1] = 1;
		colorchange();
		changrev[1] = 1;
		colorchange();
	}

	function crev2() {
		changrev[1] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction3() {
		var w = document.getElementById("3");
		var x = document.getElementById("y3");
		var y = document.getElementById("x3");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[2] == 2) && (changrev[2] == 2)) {
			changans[2] = 0;
			changrev[2] = 0;
		}
		colorchange();
	}

	function rev3() {
		changrev[2] = 1;
		colorchange();
		changrev[2] = 1;
		colorchange();
	}

	function crev3() {
		changrev[2] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction4() {
		var w = document.getElementById("4");
		var x = document.getElementById("y4");
		var y = document.getElementById("x4");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[3] == 2) && (changrev[3] == 2)) {
			changans[3] = 0;
			changrev[3] = 0;
		}
		colorchange();
	}

	function rev4() {
		changrev[3] = 1;
		colorchange();
		changrev[3] = 1;
		colorchange();
	}

	function crev4() {
		changrev[3] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction5() {
		var w = document.getElementById("5");
		var x = document.getElementById("y5");
		var y = document.getElementById("x5");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[4] == 2) && (changrev[4] == 2)) {
			changans[4] = 0;
			changrev[4] = 0;
		}
		colorchange();
	}

	function rev5() {
		changrev[4] = 1;
		colorchange();
		changrev[4] = 1;
		colorchange();
	}

	function crev5() {
		changrev[4] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction6() {
		var w = document.getElementById("6");
		var x = document.getElementById("y6");
		var y = document.getElementById("x6");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[5] == 2) && (changrev[5] == 2)) {
			changans[5] = 0;
			changrev[5] = 0;
		}
		colorchange();
	}

	function rev6() {
		changrev[5] = 1;
		colorchange();
		changrev[5] = 1;
		colorchange();
	}

	function crev6() {
		changrev[5] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction7() {
		var w = document.getElementById("7");
		var x = document.getElementById("y7");
		var y = document.getElementById("x7");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[6] == 2) && (changrev[6] == 2)) {
			changans[6] = 0;
			changrev[6] = 0;
		}
		colorchange();
	}

	function rev7() {
		changrev[6] = 1;
		colorchange();
		changrev[6] = 1;
		colorchange();
	}

	function crev7() {
		changrev[6] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction8() {
		var w = document.getElementById("8");
		var x = document.getElementById("y8");
		var y = document.getElementById("x8");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[7] == 2) && (changrev[7] == 2)) {
			changans[7] = 0;
			changrev[7] = 0;
		}
		colorchange();
	}

	function rev8() {
		changrev[7] = 1;
		colorchange();
		changrev[7] = 1;
		colorchange();
	}

	function crev8() {
		changrev[7] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction9() {
		var w = document.getElementById("9");
		var x = document.getElementById("y9");
		var y = document.getElementById("x9");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[8] == 2) && (changrev[8] == 2)) {
			changans[8] = 0;
			changrev[8] = 0;
		}
		colorchange();
	}

	function rev9() {
		changrev[8] = 1;
		colorchange();
		changrev[8] = 1;
		colorchange();
	}

	function crev9() {
		changrev[8] = 0;
		colorchange();
	}
	</script>
	<script>
	function myFunction10() {
		var w = document.getElementById("10");
		var x = document.getElementById("y10");
		var y = document.getElementById("x10");
		var z = document.getElementsByClassName("lque");
		var zz = document.getElementsByClassName("lqu");
		//	var zzz = document.getElementsByClassName("lquee");
		//z.style.display = "none";
		var i;
		for(i = 0; i < z.length; i++) {
			z[i].style.display = "none"
		}
		for(i = 0; i < zz.length; i++) {
			zz[i].style.display = "none"
		}
		x.style.display = "block";
		w.style.display = "block";
		y.style.display = "block";
		if((changans[9] == 2) && (changrev[9] == 2)) {
			changans[9] = 0;
			changrev[9] = 0;
		}
		colorchange();
	}

	function rev10() {
		changrev[9] = 1;
		colorchange();
		changrev[9] = 1;
		colorchange();
	}

	function crev10() {
		changrev[9] = 0;
		colorchange();
	}
	</script>
</head>

<body onkeypress="return disableCtrlKeyCombination(event);" onkeydown="return disableCtrlKeyCombination(event);">
	<form action="result_new.php" method="post" id="form">
		<div style="float:left;border:2px solid; width:70%; height:100%;">
			<div style="height:auto;background: #39a1a1;font-size: 60px;

color: white;

text-shadow: 3px 3px 13px rgba(5,19,28,0.68);

">
				<CENTER>Take Test</CENTER>
			</div>
			<hr>
			<div style="height:auto; font-size: 30px;position:relative;">SUBJECT:- APTITUDE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<div style="  position:absolute;  display:inline-block;right:0px;">
					<button type="button" onclick="document.getElementById('id01').style.display='block'" style="border-radius:50%;font-size: 30px;" title="Question">Q</button>&nbsp;
					<button type="button" onclick="document.getElementById('id02').style.display='block'" style="border-radius:50%;font-size: 30px;" title="Rules">&#160;i&#160;</button> &nbsp; &nbsp;
					<div style="  display:inline-block;border:2px solid #ff0000;"> Time left: <font color="red" id="timer"></font> </div>&nbsp; &nbsp;</div>
			</div>&nbsp;
			<hr>
			<div class="lque" id="y1" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="1" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(1) &#160;If CP is 40% of SP. The % that SP is of CP is ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch10" name="a100" value="a">250 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch20" name="a100" value="b">240 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch30" name="a100" value="c">620 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch40" name="a100" value="d">40 </td>
							</tr>
					</table>
					<input type="hidden" name="ab100" value="1">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a100");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x1" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev1()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev1()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a1" onclick="myFunction2()">Next </button>
				</center>
			</div>
			<div class="lque" id="y2" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="2" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(2) &#160;If x varies as y, and y=7 when x=18, find x when y=21 ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch11" name="a101" value="a">36 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch21" name="a101" value="b">54 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch31" name="a101" value="c">72 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch41" name="a101" value="d">18 </td>
							</tr>
					</table>
					<input type="hidden" name="ab101" value="2">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a101");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x2" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev2()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev2()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a2" onclick="myFunction3()">Next </button>
				</center>
			</div>
			<div class="lque" id="y3" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="3" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(3) &#160;40% of 20% + 30% of 25% + 50% of 28% is equivalent to ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch12" name="a102" value="a">29.5% </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch22" name="a102" value="b">28.5% </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch32" name="a102" value="c">30.5% </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch42" name="a102" value="d">None of these </td>
							</tr>
					</table>
					<input type="hidden" name="ab102" value="3">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a102");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x3" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev3()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev3()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a3" onclick="myFunction4()">Next </button>
				</center>
			</div>
			<div class="lque" id="y4" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="4" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(4) &#160;If x% of a is the same as y% of b then z% of b is ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch13" name="a103" value="a">(yz/x)% of a </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch23" name="a103" value="b">(xy/z)% of a </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch33" name="a103" value="c">(xz/y)% of a </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch43" name="a103" value="d">None of these </td>
							</tr>
					</table>
					<input type="hidden" name="ab103" value="4">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a103");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x4" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev4()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev4()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a4" onclick="myFunction5()">Next </button>
				</center>
			</div>
			<div class="lque" id="y5" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="5" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(5) &#160;6 men can do work in 12 days. How many men are can do work in 18 days ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch14" name="a104" value="a">3 men </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch24" name="a104" value="b">6 men </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch34" name="a104" value="c">4 men </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch44" name="a104" value="d">2 men </td>
							</tr>
					</table>
					<input type="hidden" name="ab104" value="5">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a104");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x5" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev5()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev5()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a5" onclick="myFunction6()">Next </button>
				</center>
			</div>
			<div class="lque" id="y6" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="6" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(6) &#160;A train 280m long, running with a speed of 63 km/hr will pass an electric pole in ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch15" name="a105" value="a">20 sec </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch25" name="a105" value="b">16 sec </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch35" name="a105" value="c">15 sec </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch45" name="a105" value="d">18 sec </td>
							</tr>
					</table>
					<input type="hidden" name="ab105" value="6">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a105");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x6" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev6()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev6()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a6" onclick="myFunction7()">Next </button>
				</center>
			</div>
			<div class="lque" id="y7" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="7" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(7) &#160;The value of log base2(log base5 625) is ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch16" name="a106" value="a">2 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch26" name="a106" value="b">5 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch36" name="a106" value="c">10 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch46" name="a106" value="d">15 </td>
							</tr>
					</table>
					<input type="hidden" name="ab106" value="7">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a106");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x7" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev7()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev7()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a7" onclick="myFunction8()">Next </button>
				</center>
			</div>
			<div class="lque" id="y8" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="8" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(8) &#160;Find 9th term of HP 6,4,3.... ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch17" name="a107" value="a">7/5 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch27" name="a107" value="b">6/5 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch37" name="a107" value="c">5/6 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch47" name="a107" value="d">None of these </td>
							</tr>
					</table>
					<input type="hidden" name="ab107" value="8">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a107");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x8" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev8()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev8()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a8" onclick="myFunction9()">Next </button>
				</center>
			</div>
			<div class="lque" id="y9" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="9" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(9) &#160;How many ways can 5 people be selected from group of 10 ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch18" name="a108" value="a">272 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch28" name="a108" value="b">282 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch38" name="a108" value="c">252 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch48" name="a108" value="d">242 </td>
							</tr>
					</table>
					<input type="hidden" name="ab108" value="9">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a108");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x9" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev9()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev9()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a9" onclick="myFunction10()">Next </button>
				</center>
			</div>
			<div class="lque" id="y10" style="max-height: 420px; display:none; min-height: 420px; overflow-y: scroll;">
				<div style="display:none;" id="10" class="lquee">
					<table style="font-size: 25px; padding:10px;">
						<tdead>
							<td>(10) &#160;Find 2 natural number whose sum is 85 and LCM is 102 ?
								<hr width="0px"> </td>
							</thead>
							<tr>
								<td>(a)
									<input type="radio" id="arch19" name="a109" value="a">30 and 55 </td>
							</tr>
							<tr>
								<td> (b)
									<input type="radio" id="arch29" name="a109" value="b">17 and 68 </tr>
							</td>
							<tr>
								<td>(c)
									<input type="radio" id="arch39" name="a109" value="c">35 and 55 </td>
							</tr>
							<tr>
								<td>(d)
									<input type="radio" id="arch49" name="a109" value="d">51 and 34 </td>
							</tr>
					</table>
					<input type="hidden" name="ab109" value="10">
					<script type="text/javascript">
					var allRadios = document.getElementsByName("a109");
					var booRadio;
					var x1 = 0;
					for(x1 = 0; x1 < allRadios.length; x1++) {
						allRadios[x1].onclick = function() {
							if(booRadio == this) {
								this.checked = false;
								booRadio = null;
							} else {
								booRadio = this;
							}
						};
						if(allRadios[x1].checked) {
							//
						} else {
							//
						}
					}
					</script>
				</div>
			</div>
			<div class="lqu" style="display:none; border-top: 1px solid;" id="x10" style="height:40px;">
				<br>
				<center>
					<button type="button" class="button11a" onclick="rev10()">Mark for review</button> &#160; &#160; &#160;
					<button type="button" class="button11a" onclick="crev10()">Clear review </button> &#160; &#160; &#160;
					<button type="button" class="button11a" id="a10" onclick="myFunction11()">Next </button>
				</center>
			</div>
		</div>
		<div style="float:right; border:2px solid; width:28%; height:100%;">
			<div style="height:45px; padding:10px;"> <font style="font-size: 20px;"> Name:- abc def </font>
				<br> Email:- abc@gmail.com </div>
			<hr>
			<div style="max-height:300px;min-height:300px; overflow-y: scroll;">
				<button type="button" onclick="myFunction1()" id="z1" class="rbutton">1</button>
				<button type="button" onclick="myFunction2()" id="z2" class="rbutton">2</button>
				<button type="button" onclick="myFunction3()" id="z3" class="rbutton">3</button>
				<button type="button" onclick="myFunction4()" id="z4" class="rbutton">4</button>
				<button type="button" onclick="myFunction5()" id="z5" class="rbutton">5</button>
				<button type="button" onclick="myFunction6()" id="z6" class="rbutton">6</button>
				<button type="button" onclick="myFunction7()" id="z7" class="rbutton">7</button>
				<button type="button" onclick="myFunction8()" id="z8" class="rbutton">8</button>
				<button type="button" onclick="myFunction9()" id="z9" class="rbutton">9</button>
				<button type="button" onclick="myFunction10()" id="z10" class="rbutton">10</button>
			</div>
			<hr>
			<div style="">
				<table style="width:100%;" border="1px">
					<tr>
						<td style="width:50%;">
							<button type="button" id="aks1" style="width:40px; height:40px; background-color:#9c9c9c;"> </button>Not visited </td>
						<td style="width:100%;">
							<button type="button" id="aks2" style="width:40px; height:40px; background-color:#ff0000;"> </button>Not answered </td>
					</tr>
					<tr>
						<td>
							<button type="button" id="aks3" style="width:40px; height:40px;background-color:#fc9649;"> </button>Not answered & marked for review</td>
						<td>
							<button type="button" id="aks4" style="width:40px; height:40px;background-color:#339933;"> </button>Answered</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="button" id="aks5" style="width:40px; height:40px;background-color:#0099cc;"> </button> Answered & marked for review (considered for evaluation)</td>
					</tr>
				</table>
			</div>
			<hr>
			<div style="">
				<center>
					<button class="button11a button12a" onclick="return confirmalert();" type="submit" value="submit">FINISH </button>
				</center>
			</div>
		</div>
    <button type="button" onclick="location.href = '/performance/home/';" class="btn btn-info " style="margin-top: 50px;" >Back</button>
	</form>
	<div id="id01" class="modal">
		<div class="modal-content animate">
			<div class="imgcontainer"> <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> <b style="font-size: 25px;"> Question </b> </div>
			<div class="container12">
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(1) &#160;If CP is 40% of SP. The % that SP is of CP is ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 250 </td>
						</tr>
						<tr>
							<td> (b)240 </tr>
						</td>
						<tr>
							<td>(c)620 </td>
						</tr>
						<tr>
							<td>(d)40 </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(2) &#160;If x varies as y, and y=7 when x=18, find x when y=21 ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 36 </td>
						</tr>
						<tr>
							<td> (b)54 </tr>
						</td>
						<tr>
							<td>(c)72 </td>
						</tr>
						<tr>
							<td>(d)18 </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(3) &#160;40% of 20% + 30% of 25% + 50% of 28% is equivalent to ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 29.5% </td>
						</tr>
						<tr>
							<td> (b)28.5% </tr>
						</td>
						<tr>
							<td>(c)30.5% </td>
						</tr>
						<tr>
							<td>(d)None of these </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(4) &#160;If x% of a is the same as y% of b then z% of b is ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) (yz/x)% of a </td>
						</tr>
						<tr>
							<td> (b)(xy/z)% of a </tr>
						</td>
						<tr>
							<td>(c)(xz/y)% of a </td>
						</tr>
						<tr>
							<td>(d)None of these </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(5) &#160;6 men can do work in 12 days. How many men are can do work in 18 days ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 3 men </td>
						</tr>
						<tr>
							<td> (b)6 men </tr>
						</td>
						<tr>
							<td>(c)4 men </td>
						</tr>
						<tr>
							<td>(d)2 men </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(6) &#160;A train 280m long, running with a speed of 63 km/hr will pass an electric pole in ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 20 sec </td>
						</tr>
						<tr>
							<td> (b)16 sec </tr>
						</td>
						<tr>
							<td>(c)15 sec </td>
						</tr>
						<tr>
							<td>(d)18 sec </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(7) &#160;The value of log base2(log base5 625) is ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 2 </td>
						</tr>
						<tr>
							<td> (b)5 </tr>
						</td>
						<tr>
							<td>(c)10 </td>
						</tr>
						<tr>
							<td>(d)15 </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(8) &#160;Find 9th term of HP 6,4,3.... ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 7/5 </td>
						</tr>
						<tr>
							<td> (b)6/5 </tr>
						</td>
						<tr>
							<td>(c)5/6 </td>
						</tr>
						<tr>
							<td>(d)None of these </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(9) &#160;How many ways can 5 people be selected from group of 10 ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 272 </td>
						</tr>
						<tr>
							<td> (b)282 </tr>
						</td>
						<tr>
							<td>(c)252 </td>
						</tr>
						<tr>
							<td>(d)242 </td>
						</tr>
				</table>
				<table style="font-size: 25px; padding:10px;">
					<tdead>
						<td>(10) &#160;Find 2 natural number whose sum is 85 and LCM is 102 ?
							<hr width="0px"> </td>
						</thead>
						<tr>
							<td>(a) 30 and 55 </td>
						</tr>
						<tr>
							<td> (b)17 and 68 </tr>
						</td>
						<tr>
							<td>(c)35 and 55 </td>
						</tr>
						<tr>
							<td>(d)51 and 34 </td>
						</tr>
				</table>
			</div>
			<div class="container12" style="background-color:#f1f1f1">
				<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Close</button>
			</div>
		</div>
	</div>
	<div id="id02" class="modal">
		<div class="modal-content animate">
			<div class="imgcontainer"> <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span> <b style="font-size: 25px;">   Rules</b> </div>
			<div class="container12">
				<ul>
					<li>Candidate do-not refresh the page and please not open any new tab. </li>
					<br>
					<li> For convenience use only mouse during examination.</li>
					<br>
					<li>It is advisable not to press any key from keyboard during examination. It may lock your exam.</li>
					<br>
					<li>Answer will be auto submitted by server after given time irrespect of your submission. </li>
					<br>
					<li>Your result will be generated automatically after completion of examination.</li>
					<br> </ul>
			</div>
			<div class="container12" style="background-color:#f1f1f1">
				<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Close</button>
			</div>
		</div>
	</div>
</body>
<script>
myFunction1();
</script>
  <!-- <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <h1>this is test page</h1>
  <button type="button" onclick="location.href = '/performance/home/';" class="btn btn-info ">Back</button>
{% if q%}


<table>
  {% for question in q %}
<tbody>
  <tr>
    <td>{{question.q_id}}::{{question.question}}</td>
  </tr>
  <tr>

    <td>A:{{question.opA}}          B:{{question.opB}}</td>
  </tr>
    <tr><td>C:{{question.opC}}     D:{{question.opD}}</td>


  </tr>
</tbody>
{% endfor %}
</table>
{%endif%}
  </body> -->
</html>
